*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: kumbh sans;

}
// primary
$dark_cyan: hsl(185, 75%, 39%);
$Very_dark_desaturated_blue: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);
$dark_gray: hsl(227, 10%, 46%);

body{
    
     height: 100vh;
     background-color: $dark_cyan;
     display: flex;
     justify-content: center;
     position: relative;

    
    .bg__top{

        position: fixed;
        bottom: 40%;
        right: 40%;
        z-index: -1;
    }
    .bg__botom{

        position: fixed;
        top: 40%;
        left: 40%;
        z-index: -1;
    }
        
        
}

.container{

    
    
    
    position: absolute;
    top: 20%;

    .card{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card__upBackground{
            
            height: 120px;
            width: 300px;
            border-radius: .5em .5em 0 0%;
            background-image: url(/images/bg-pattern-card.svg);
            background-repeat: no-repeat;
            
        }
    
        .card__photoProfile{
    
            background-image: url(/images/image-victor.jpg);
            background-repeat: no-repeat;
            height: 96px;
            width: 96px;
            border: white solid;
            border-radius: 100%;
            position: absolute;
            bottom: 50%;
            
        }
        .card__downBackground{

        background-color: white;
        width: 300px;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

            .card__downBackground--userName{

                font-size: 18px;
                text-align: center;

                    span{
                        color: $dark_gray;
                    }

                }
            .card_downBackground--userCountry{
        
                color: $dark_gray;
                text-align: center;
                font-size: 14px;
                border-bottom: rgb(204, 189, 189) solid;
                
                border-width: 1px;
                padding-bottom: 1rem;
                
            }
        }
            
        .card__userEstadistics{

            background-color: white;
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
            padding: 1.5rem;
            border-radius: 0 0 .5em .5em;

            .card__userEstadistics--followers, .card__userEstadistics--likes, .card__userEstadistics--photos{

                font-weight: bold;

                    span{

                        color: $dark_grayish_blue;
                        font-size: 9px;
                        letter-spacing: 1px;
                        
                    }
            }
            

        }   
    }
}

@media screen  and (min-width: 1024px){

    
    

    .container{
        top: 35%;
    }

} 
    
